name: Build StellaSora Tool

on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]

jobs:
  build:
    runs-on: windows-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      
    - name: Setup MSBuild
      uses: microsoft/setup-msbuild@v1.1
      
    - name: Build Solution
      run: msbuild StellaSora-Tool.sln /p:Configuration=Release /p:Platform=x64
      
    - name: Verify Build Output
      run: Get-ChildItem -Recurse -Include *.exe,*.dll,*.pdb
      
    - name: Check current directory
      run: Get-ChildItem -Recurse
      
    - name: Upload Build Artifacts
      uses: actions/upload-artifact@v4
      with:
        name: StellaSora-Tool-Build
        path: StellaSora-Tool/bin/Release-x64/*
